# ----------------------------------------------------------------------------
# CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/engineering

# Content
/files/     @mdn/content-team
/files/it/  @mdn/it-content

# Translation guide
/docs/      @mdn/content-team
/docs/it/   @mdn/it-content

# Issue templates
/.github/ISSUE_TEMPLATE/page-report-it.yml @mdn/it-content

# Miscellaneous
/.github/            @mdn/engineering
/.github/CODEOWNERS  @mdn/engineering
/*                   @mdn/engineering
/*.md                @mdn/content-team @mdn/engineering 
/CONTRIBUTING.md     @mdn/content-team          
/PEERS_GUIDELINES.md @mdn/content-team

# Reset until https://github.com/prettier/prettier/issues/11828 is fixed
/.prettierignore
/SECURITY.md @mdn/engineering
